<h1>
    Credits
    <figure id="flavia_logo">
        <img src="img/flavia_logo.png">
    </figure>
</h1>
<p>Created and maintained by some wise people from Flavia IT.</p>
<ul>
    <li><a href="http://flavia-it.de" target="_blank">Flavia Homepage</a></li>
    <li><a href="https://github.com/zenhunt/wild_sofea" target="_blank">Project repository @ github</a></li>
    <li><a href="http://blog.flavia-it.de" target="_blank">Flavia Developers Blog</a></li>
    <li><a href="http://subtlepatterns.com" target="_blank">Cool backgrounds found @ subtlepattern</a></li>
    <li><a href="http://www.generatedata.com/" target="_blank">A generator for some data</a></li>
    <li><a href="http://js2coffee.org/" target="_blank">JS to Coffeescript translation (and vice versa)</a></li>
</ul>