<td colspan="5">
    <form action="#" method="post">
        <fieldset>
            <ul class="left half">
                <li editable-field for="forename" label="First name" text="{{addr.forename}}" editable="{{edit}}">
                    <input id="forename" type="text" ng-model="addr.forename">
                </li>
                <li editable-field for="lastname" label="Last name" text="{{addr.lastname}}" editable="{{edit}}">
                    <input id="lastname" type="text" ng-model="addr.lastname">
                </li>
                <li editable-field for="email" label="Email address" text="{{addr.email}}" editable="{{edit}}">
                    <input id="email" type="text" ng-model="addr.email">
                </li>
                <li editable-field for="group" label="Group" text="{{addr.group}}" editable="{{edit}}">
                    <select id="group" ng-options="g for g in groups" ng-model="addr.group"></select><span class="selectArrow"></span>
                </li>
            </ul>
            <ul class="left half">
                <li editable-field for="country" label="Country" text="{{addr.country}}" editable="{{edit}}">
                    <select id="country" name="country" ng-options="c for c in countries" ng-model="addr.country"></select><span class="selectArrow"></span>
                </li>
                <li editable-field for="zipcode" label="Zipcode / city" text="{{addr.zipcode}}" editable="{{edit}}">
                    <input id="zipcode" type="text" class="verysmall" ng-model="addr.zipcode"><input id="city" type="text" class="small" ng-model="addr.city">
                </li>
                <li editable-field for="street" label="Street" text="{{addr.street}}" editable="{{edit}}">
                    <input id="street" type="text" ng-model="addr.street">
                </li>
                <li editable-field for="phone" label="Phone number" text="{{addr.phone}}" editable="{{edit}}">
                    <input id="phone" type="text" ng-model="addr.phone">
                </li>
            </ul>
        </fieldset>
    </form>
</td>
<td class="last-child">
    <button class="icon-edit" ng-hide="edit" ng-click="edit = true"><div></div></button><br>
    <button class="icon-save" ng-show="edit" ng-click="edit = false"><div></div></button><br>
    <button class="icon-delete"><div></div></button>
</td>